<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="stylenotice.css">
    <title>IETE KEC</title>
</head>
<body>
    <div class="loader-wrapper">
        <span class="loader"><span class="loader-inner"></span></span>
    </div>
    <nav>
        <div class="nav-logo">
            <a href="/">
            <img src="./images/iete.jpg" width="80px" height="60px">
            </a>
            
            <div class="burger">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
        </div>
        <ul class="navbar-items">
        <li>
            <a href="/points-table">Points-Table</a>
        </li>
        <li>
            <a href="/classper">Class Performance</a>
        </li>
        <li>
            <a href="/event">Events</a>
        </li>
        <li>
            <a href="/results-user">Results</a>
        </li>
        <li>
            <a href="/about">About</a>
        </li>
        </ul>
    </nav>
    <div class="grid-manage">
     <div class="headimg">
        <h3 class="headd" style="text-align: center;font-size: 60px;margin-top: 100px;font-family: 'Tajawal', sans-serif;color: white;">KONGU ENGINEERING COLLEGE</h3>
        <h2  class="headdd" style="text-align: center; font-size: 30px;margin-top: 10px;font-family: 'Tajawal', sans-serif;color: white;">DEPARTMENT OF ELECTRONICS AND COMMUNICATION ENGINEERING</h2>
        <h2 class="head" style="text-align: center; color: white; font-size: 60px;margin-top: 20px;font-family: 'Tajawal', sans-serif;">
            Welcome's You</h2>
    </div>
    <div class="notice">
        <div >
            <table class="notice-manage">
                <tr>
                    <th colspan="2" style="text-align: center;margin-bottom: 5px;color: white;">Notice Board</th>
                </tr>
                <% foundArray.forEach((item)=>{ %>
                    <tr>
                         <th class="notice-date" style="color: white;"><h3 style="font-size: 30px;color: white;"><%=item.date[8]+item.date[9]%></h3><hr style="border-bottom: 1px solid white;"><%=item.time%></th>
                        <th>
                            <h3 class="ml6" style="color: white;">
                                <span class="text-wrapper">
                                    <span class="letters"><%=item.content%>
                                        </span>
                                </span>
                            <% if(item.type==="Result"){ %>
                                        | <a style="text-decoration: none;color: white;" href="/results-user"><button class="btn-res">Results</button></a>
                                        <% }%>
                                    <% if(item.type==="Regist"){ %>
                                    | <a style="text-decoration: none;color: white;" href="/event"><button class="btn-res">Register</button></a>
                                    <% }%>
                                    </h3></th>
                    </tr>
                <% }) %>
                
            </table>
        </div>
    </div>
</div>

<div class="footer" style="background: black;">
    <h3 style="text-align: center;color: white;padding: 20px;font-family: 'Quicksand', sans-serif;">Created and Mainted by <a href="/admin">IETE</a> | ECA</h3>
</div>
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
        crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
    <script>
        // Wrap every letter in a span
            var textWrapper = document.querySelectorAll('.ml6 .letters');
            textWrapper.forEach(item=>{
                item.innerHTML = item.textContent.replace(/\S/g, "<span class='letter'>$&</span>");
})
            anime.timeline({ loop: true })
                .add({
                    targets: '.ml6 .letter',
                    translateY: ["1.1em", 0],
                    translateZ: 0,
                    duration: 750,
                    delay: (el, i) => 50 * i
                }).add({
                    targets: '.ml6',
                    opacity: 0,
                    duration: 1000,
                    easing: "easeOutExpo",
                    delay: 1000
                });
            
            
    </script>
    <script src="animation.js"></script>
</body>
</html>