@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');

*{
    margin: 0;
}
nav{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 30px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 20px;
}
.main{
    height: 100%;
    
    background-color:#fad390;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 30px 0 rgba(0, 0, 0, 0.19);
    margin: 20px 10px;
    font-family: 'Tajawal', sans-serif;
    border-radius: 10px;
}

.event{
    padding: 20px;
    margin: 10px;
    height: 100%;
    border-radius: 10px;
    background-color:tomato;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 30px 0 rgba(0, 0, 0, 0.19);
}

.event-ongoing{
        padding: 20px;
    margin: 10px;
    border-radius: 10px;
   background-color:tomato;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 30px 0 rgba(0, 0, 0, 0.19);
}
.evnet-name{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: 'Comfortaa', cursive;
    padding: 10px;
    color: #57606f;
    background-color:#fad390;
    border-radius: 10px;
    font-size: 20px;
    margin-bottom: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 30px 0 rgba(0, 0, 0, 0.19);
}

.evnet-name1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-family: 'Comfortaa', cursive;
    padding: 10px;
     color: #57606f;
    background-color:#fad390;
    border-radius: 10px;
    font-size: 17px;
    margin-bottom: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 30px 0 rgba(0, 0, 0, 0.19);
}
.cross{
    background-color: transparent;
    border: none;
     color: #57606f;

}
.cross:hover{
    opacity: 50%;
    transition: all 0.1s ease-out;
}
.navb{
    width: 100%;
    background-color:#2C3A47 ;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 30px 0 rgba(0, 0, 0, 0.19);
}