@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
}
nav{
    background: #232526;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
;
display: none;
    position: fixed;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    z-index: 1;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 30px 0 rgba(0, 0, 0, 0.19);
}
.nav-after{
    display: flex !important;
}
.navbar-items{
    display: flex;
    justify-content: space-around;
    align-self: center;
    width: 40%;
}
.navbar-items li{
    list-style: none;
}
.navbar-items a{
    color: white;
    text-decoration: none;
    font-size: 20px; 
    padding: 10px;
    font-family: 'Quicksand', sans-serif;
}
body{
    background-image: url("./images/conven1.png");
    width: 100%;
    height: 100%;
}
.grid-manage{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 80px 600px 200px;
}
.navbar-items a:hover{
    color: #f85032;
}
.burger{
    position: relative;
    display: none;
    cursor: pointer;
    align-items: center;
    left: 30px;
    /* border: 3px solid #7054CB;
    border-radius: 10px; */
}
.burger div{
    width: 25px;
    height: 3px;
    margin: 6px;
    align-items: center;
    background-color:white;
    transition: all 0.3s ease;
    border-radius: 10px;
}
.toggle .line1{
    transform: rotate(-45deg) translate(-4px,7px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-6px,-9px);
}
.head-img{
    width: 100%;
    height: 100%;
}
@media only screen and (max-width:600px){
    nav{
        width: 100%;
        flex-direction: column;
        transition: all 2s;
    }
    .nav-logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}
    .navbar-items{
        width: 70% !important;
        border-radius: 20px;
        display: none;
        flex-direction: column;
        z-index: 2;
        transition: all 2s;
    }
    .navbar-items li{
        opacity: 0;
        font-size: 15px;
        padding-top: 10px;
        padding-bottom:10px;
        transition: opacity 0.5s ease in;
    }
    .burger{
        display: block;
    }
    .nav-active{
        display: flex;
    }
    body{
    background: #f85032;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #e73827, #f85032);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #e73827, #f85032); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
    .headimg{
        background-color: tomato;
        width: 100%;
        height: 100%;
    }
    .head-text{
    grid-column: 1;
    grid-row: 2/3;
    font-family: 'Quicksand', sans-serif;
    align-items: end;
    margin: 80px;
}
@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px) ;
    }
    to{
        opacity: 1;
        transform: translateX(0px) ;
    }
}
}

.points-table{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:80px 100px 400px 400px ;

}

.second-table{
    grid-row: 3/4;
    width: 100%;
    font-size: 20px;
background-color: tomato;

    height: 100%; 
    border-collapse: collapse;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 30px 0 rgba(0, 0, 0, 0.19);
}
.third-table{
    grid-row: 4/5;
    width: 100%;
    font-size: 20px;
    background-color:tomato;
    
    height: 100%; 
    border-collapse: collapse;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 30px 0 rgba(0, 0, 0, 0.19);
}
.heading{
    background-color:#fad390;
    font-size: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 30px 0 rgba(0, 0, 0, 0.19);
}
th{
    text-align: center;
    color: #57606f;
    font-family: 'Quicksand', sans-serif;
    letter-spacing: 1px;
}
td{
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    color: white;
}
.top{
    grid-row: 1/2;
     background: #232526;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 30px 0 rgba(0, 0, 0, 0.19);
}
.loader-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color:#2C3A47;
  display:flex;
  justify-content: center;
  align-items: center;
}
.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  top: 0%;                       /******** <- Remove this line *********/
  border: 4px solid #Fff;
  animation: loader 2s infinite ease;
}

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  animation: loader-inner 2s infinite ease-in;
}
@keyframes loader {
  0% { transform: rotate(0deg);}
  25% { transform: rotate(180deg);}
  50% { transform: rotate(180deg);}
  75% { transform: rotate(360deg);}
  100% { transform: rotate(360deg);}
}
@keyframes loader-inner {
  0% { height: 0%;}
  25% { height: 0%;}
  50% { height: 100%;}
  75% { height: 100%;}
  100% { height: 0%;}
}
.top-name{
    color: white;
    float: right;
    justify-content: center;
    align-items: center;
    margin: 10px;
    height: 100%;
    font-family: 'Quicksand', sans-serif;
}
.teams{
    width: 30%;
}

@media only screen and (max-width:700px){
    .second-table{
    grid-row: 3/4;
    font-size: 15px;
    height: 100%; 
    border-collapse: collapse !important;
}
.third-table{
    grid-row: 4/5;
    width: 100%;
    font-size: 15px;
    height: 100%; 
}
.heading{
    background-color: #fad390;
    font-size: 5px !important;
    padding: 5px;
}
.teams{
    width: 20%;
}
th{
    text-align: center;
    color: #57606f;
    font-size: 11px;
}
td{
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    color: white;
}
}
.ml6 {
  position: relative;
  align-items: center;
}

.ml6 .text-wrapper {
  position: relative;
  display: inline-block;
  overflow: hidden;
  align-items: center;
}

.ml6 .letter {
  display: inline-block;
  line-height: 1em;
}

.fa-caret-up {
    position: relative;
  animation: MoveUpown 1s linear infinite;
  left: 0;
  bottom: 10;
}

@keyframes MoveUpown {
  0%, 100% {
    top: 0px;
    opacity: 0;
  }
  80% {
      opacity: 1;
    top: 10px;
  }
}

.fa-caret-down {
    position: relative;
  animation: MoveUpDown 1s linear infinite;
  left: 0;
  bottom: 5px;
}

@keyframes MoveUpDown {
  0%, 100% {
    bottom: 0;
    opacity: 0;
  }
  80% {
    bottom: 10px;
    opacity: 1;
  }
}

.dash{
    position: relative;

  animation: MovepDown 1s linear infinite;
  left: 0;
  bottom: 0;
}
@keyframes MovepDown {
  0%, 100% {
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
}