.teams{
    width: 20%;
}
table{
    margin:400px auto 0;
    margin-bottom: 0;
    align-items: center;
}

.notice-manage{
    opacity: 0;
    border: 1px solid white;
    padding: 20px;
    align-items: center;
}
.notice-manage-i{
    opacity: 1;
}
.notice-date{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #d63031;
    padding: 10px;
    margin-right: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 30px 0 rgba(0, 0, 0, 0.19);
}
.notice-dat{
    align-items: center;
}
.letters{
    color: #fee900;
    text-shadow: 2px 2px 4px #000000;
}
@media only screen and (max-width:700px){
    .fe{
        color: white !important;
    }
.letters{
    color: white;
    text-shadow: 2px 2px 4px #000000;
}
table{
    margin-top: 300px !important;
}
.img-head{
    width: 50px;
    height: 50px;
}
.text-head{
    font-size: 13px !important;
    text-align: center;
    letter-spacing: 3px;
}
.headimg{
    margin-top: 100px !important;
}
.text1-head{
    margin-top: 10px;
    font-size: 10px;
}
}
.btn-res{
    width: 80px;
    height: 40px;
    border: none;
    border-radius: 2px;
    color: white;
    margin-top: 10px;
    background-color: #d63031;
    cursor: pointer;
}
.btn-res:hover{
    background-color: black;
}
.btn-res:focus{
    border: none;
    outline: none;
}
.notice-dat{
    white-space: nowrap;
    animation: rightThenLeft 4s linear;
    -webkit-animation: rightThenLeft 4s linear;
}